@import "tailwindcss";

code {
	@apply bg-gray-300 px-1 rounded-sm;
}
pre {
	@apply p-4 rounded-md break-all;
}
pre > code {
	all: unset;
}
details{
	@apply cursor-pointer;
}
summary{
	@apply mb-2;
}
