---
import Paragraph from "./Paragraph.astro";
import Heading3 from "./Heading3.astro";

import { useTranslations, getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);

const { title, degree, grade } = Astro.props;
---

<div>
  <div>
    <Heading3>
      {title}
    </Heading3>
  </div>
  <Paragraph className="my-0">
    {degree}
  </Paragraph>
  <Paragraph className="my-0">
    {t("text.final_grade")}{grade}
  </Paragraph>
</div>
