---
import Paragraph from "./Paragraph.astro";
import Heading3 from "./Heading3.astro";

const { title, degree, grade } = Astro.props;
---

<div>
  <div>
    <Heading3>
      {title}
    </Heading3>
  </div>
  <Paragraph className="my-0">
    {degree}
  </Paragraph>
  <Paragraph className="my-0">
    Final grade: {grade}
  </Paragraph>
</div>
