---
import { twMerge } from "tailwind-merge";

const { className, id, compact } = Astro.props;
---

<h2
  id={id}
  class={twMerge(
    `${compact ? "text-xl" : "text-2xl"} font-bold ${compact ? "mb-1 mt-1" : "mb-2 mt-3"}`,
    className
  )}
>
  <slot />
</h2>
