---
import Heading3 from "./Heading3.astro";

const { title, subtitle, location, dateRange } = Astro.props;
---

<li>
  <div class="flex justify-between items-center">
    <div>
      <Heading3 className="my-0">
        {title}
      </Heading3>
      <p>{subtitle}</p>
    </div>
    <div class="ml-8 shrink-0">
      <p class="text-right">{location}</p>
      <p class="text-right">{dateRange}</p>
    </div>
  </div>
  <div class="mt-3">
    <slot />
  </div>
</li>
