---
const { className } = Astro.props;

import { twMerge } from "tailwind-merge";

const { compact } = Astro.props;
---

<style>
  @media print {
    section {
      page-break-inside: avoid;
    }
  }
</style>

<section class={twMerge(`${compact ? "mt-4" : "mt-8"}`, className)}>
  <slot />
</section>
