---
import CommonWrapper from "../../layouts/CommonWrapper.astro";
import Paragraph from "../../components/Paragraph.astro";
import BulletList from "../../components/BulletList.astro";
import Link from "../../components/Link.astro";
import Heading1 from "../../components/Heading1.astro";
import Heading2 from "../../components/Heading2.astro";
import Heading3 from "../../components/Heading3.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<CommonWrapper title={`Felix Prünte | ${entry.data.title}`}>
  <a class="print:hidden block mt-8" href="/">← Back</a>
  <Content
    components={{
      h1: Heading1,
      h2: Heading2,
      h3: Heading3,
      a: Link,
      p: Paragraph,
      ul: BulletList,
    }}
  />
</CommonWrapper>
