---
import PrintHint from "../components/PrintHint.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="px-4 pb-8 max-w-[1000px] mx-auto">
      <slot />
    </div>
    <PrintHint />
  </body>
</html>
