---
import "../styles/global.css";
import "@fontsource-variable/montserrat";

const { title, description } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <style>
      body {
        font-family: "Montserrat Variable", sans-serif;
      }

      @media print {
        @page {
          margin: 0;
        }
        body {
          print-color-adjust: exact;
        }
        html {
          font-size: 11.5px;
        }
      }
    </style>
  </head>
  <body class="overflow-x-hidden flex flex-col h-full">
    <slot />
  </body>
</html>
